<h2>Manage Your Salon</h2>

<h3>Add a stylist</h3>

<form action='/stylists' method='post'>
  <label for='stylist_name'>Name</label>
  <input id='stylist_name' name='stylist_name' type='text'>
  <button type='submit' class='btn-danger'>Add</button>
</form>

<h3>Add a client</h3>

<form action='/clients' method='post'>
  <label for='client_name'>Name</label>
  <input id='client_name' name='client_name' type='text'>
  <button type='submit' class='btn-danger'>Add</button>
</form>
